@media (max-width:1467px) {
    .info--section {
        padding-right: 14.6rem !important;
    }
}

@media (min-width:1468px) {
    .info--section {
        padding-right: 14.6rem !important;
    }
}

@media (min-width:1482px) {
    .info--section {
        padding-right: 15.3rem !important;
    }
}

@media (min-width:1499px) {
    .info--section {
        padding-right: 17rem !important;
    }
}

@media (min-width:1520px) {
    .info--section {
        padding-right: 18rem !important;
    }
}

@media (min-width:1543px) {
    .info--section {
        padding-right: 19.3rem !important;
    }
}

@media (min-width:1561px) {
    .info--section {
        padding-right: 20.3rem !important;
    }
}

@media (min-width:1571px) {
    .info--section {
        padding-right: 21.4rem !important;
    }
}

@media (min-width:1590px) {
    .info--section {
        padding-right: 22.6rem !important;
    }
}

@media (min-width:1615px) {
    .info--section {
        padding-right: 23.8rem !important;
    }
}

@media (min-width:1632px) {
    .info--section {
        padding-right: 24.9rem !important;
    }
}

@media (min-width:1648px) {
    .info--section {
        padding-right: 25.8rem !important;
    }
}

@media (min-width:1662px) {
    .info--section {
        padding-right: 26.8rem !important;
    }
}

@media (min-width:1685px) {
    .info--section {
        padding-right: 28rem !important;
    }
}

@media (min-width:1700px) {
    .info--section {
        padding-right: 29.4rem !important;
    }
}

@media (min-width:1721px) {
    .info--section {
        padding-right: 30.7rem !important;
    }
}

@media (min-width:1750px) {
    .info--section {
        padding-right: 32.4rem !important;
    }
}

@media (min-width:1776px) {
    .info--section {
        padding-right: 34.3rem !important;
    }
}

@media (min-width:1802px) {
    .info--section {
        padding-right: 36rem !important;
    }
}

@media (min-width:1830px) {
    .info--section {
        padding-right: 37.6rem !important;
    }
}

@media (min-width:1862px) {
    .info--section {
        padding-right: 39.5rem !important;
    }
}

@media (min-width:1886px) {
    .info--section {
        padding-right: 41.3rem !important;
    }
}

@media (min-width:1912px) {
    .info--section {
        padding-right: 43rem !important;
    }
}

@media (min-width:1949px) {
    .info--section {
        padding-right: 45rem !important;
    }
}

@media (max-width:1973px) {
    .info--section {
        padding-right: 46.7rem !important;
    }
}

@media (min-width:1980px) {
    .info--section {
        padding-right: 47.3rem !important;
    }
}

@media (max-width:1456px) {
    .info--section {
        padding-right: 13.6rem !important;
    }
}

@media (max-width:1450px) {
    .info--section {
        padding-right: 13.3rem !important;
    }
}

@media (max-width:1445px) {
    .info--section {
        padding-right: 12.7rem !important;
    }
}

@media (max-width:1435px) {
    .info--section {
        padding-right: 12rem !important;
    }
}

@media (max-width:1424px) {
    .info--section {
        padding-right: 11.6rem !important;
    }
}

@media (max-width:1418px) {
    .info--section {
        padding-right: 11rem !important;
    }
}

@media (max-width:1408px) {
    .info--section {
        padding-right: 10.5rem !important;
    }
}

@media (max-width:1400px) {
    .info--section {
        padding-right: 10rem !important;
    }
}

@media (max-width:1392px) {
    .info--section {
        padding-right: 9.5rem !important;
    }
}

@media (max-width:1383px) {
    .info--section {
        padding-right: 9rem !important;
    }
}

@media (max-width:1376px) {
    .info--section {
        padding-right: 8.5rem !important;
    }
}

@media (max-width:1367px) {
    .info--section {
        padding-right: 8rem !important;
    }
}

@media (max-width:1360px) {
    .info--section {
        padding-right: 7.5rem !important;
    }
}

@media (max-width:1352px) {
    .info--section {
        padding-right: 7rem !important;
    }
}

@media (max-width:1344px) {
    .info--section {
        padding-right: 6.5rem !important;
    }
}

@media (max-width:1336px) {
    .info--section {
        padding-right: 6rem !important;
    }
}

@media (max-width:1328px) {
    .info--section {
        padding-right: 5.5rem !important;
    }
}

@media (max-width:1320px) {
    .info--section {
        padding-right: 5rem !important;
    }
}

@media (max-width:1312px) {
    .info--section {
        padding-right: 4.5rem !important;
    }
}

@media (max-width:1304px) {
    .info--section {
        padding-right: 4rem !important;
    }
}

@media (max-width:1296px) {
    .info--section {
        padding-right: 3.5rem !important;
    }
}

@media (max-width:1288px) {
    .info--section {
        padding-right: 3rem !important;
    }
}

@media (max-width:1280px) {
    .info--section {
        padding-right: 2.5rem !important;
    }
}

@media (max-width:1272px) {
    .info--section {
        padding-right: 2rem !important;
    }
}

@media (max-width:1264px) {
    .info--section {
        padding-right: 1.5rem !important;
    }
}

@media (max-width:1256px) {
    .info--section {
        padding-right: 1rem !important;
    }
}

@media (max-width:1023px) {
    .info--section {
        display: none;
    }
}

@media (max-width:767px) {
    .form--body {
        padding-left: 10rem !important;
    }
}

@media (max-width:650px) {
    .form--body {
        padding-left: 7rem !important;
    }
}

@media (max-width:572px) {
    .form--body {
        padding-left: 5rem !important;
    }
}

@media (max-width:516px) and (min-width:464px) {
    .form--body {
        padding-left: 2.7rem !important;
    }
}

@media (max-width:463px) {
    .form--body {
        padding-left: 2rem !important;
    }
}

@media (max-width:366px) {
    .form--body {
        padding-left: 1.5rem !important;
    }
}